@using Edu_Home.Areas.AdminPanel.Models
@model SpeakerCreateModel
<div class="row col-sm-6">
    <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Create category</h4>
                <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Image">Name</label>
                        <input asp-for="Image" class="form-control" placeholder="Name" accept="image/*">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName">Full Name</label>
                        <input asp-for="FullName" class="form-control" placeholder="Full Name">
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profession">Profession</label>
                        <input asp-for="Profession" class="form-control" placeholder="Profession">
                        <span asp-validation-for="Profession" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Company">Company</label>
                        <input asp-for="Company" class="form-control" placeholder="Company">
                        <span asp-validation-for="Company" class="text-danger"></span>
                    </div>
                    

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>




